body {
  background: rgb(238, 174, 202);
  background: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(24, 26, 28, 1) 100%);
}

h3 {
  text-align: center;
  margin: 0;
}


button {
  display: inline-block;
  padding: 5px 10px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  background-color: #4286f4;
  color: #fff;
  cursor: pointer;
  
}
.centertext{
  text-align: center;
}
.center-button {
  display: block;
  margin: 0 auto;
}
button:hover {
  background-color: #2c5fd7;
}

button:active {
  background-color: #1c3d8c;
}

.tennis-court {
  width: 400px;
  height: 200px;
  background-color: green;
  border: 2px solid white;
  position: relative;
  margin: 20px auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

.net {
  width: 2px;
  height: 100%;
  background-color: rgb(0, 0, 0);
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.player {
  width: 100px;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
}

.player-one {
  color: rgb(0, 21, 255);
  left: 10px;
}

.player-two {
  color: red;
  right: 10px;
}

.player h2 {
  margin: 10px 0;
}

.player button {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  background-color: #4286f4;
  color: #fff;
  cursor: pointer;
}

.player button:hover {
  background-color: #2c5fd7;
}

.player button:active {
  background-color: #1c3d8c;
}
.player-buttons {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.player-buttons button {
  margin: 0 5px;
}
/* Table */

table {
  height: 10px; /* Adjust the height value as desired */
  
  width: 445px;
  border-collapse: collapse;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
}

th,
td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
  font-size: 12px; /* Adjust the font-size value as desired */
}

thead {
  background-color: #b71058;
  color: white;
}

tbody tr:hover {
  background-color: #0e8592;
  color: white;
}
/*footer*/
.footer{
  text-align: center;
  border-radius: 20px;
  border: #b71058;
  padding: 10px;
}